div.button {
    border: 20px;
}
div.button img{
    width: 55px;
   
} 
input[class="flagStelo"]:checked + label {
     box-shadow: 2px 2px  #888888;
}

.error-server {
	border: 2px dotted #ff0000;
	padding: 10px;
	text-align: center;
	color: #ff0000;
	font-weight: 700;
	display: table;
}

.validate-stelo {
    background-color: aquamarine;
    float: right;
    border: 1px solid #7AE0BE;
    cursor: pointer;
}

.validate-stelo span {
    padding: 20px;
    line-height: 30px;
    color: #484848;
    font-weight: 700;
}

div#checkout-payment-method-load dl dd ul#payment_form_sub > li {
    margin-bottom: 10px !important;
}

ul#payment_form_sub li.sub-data,ul#payment_form_sub li.sub-cvv {
    width: 50%;
    float: left;
}

ul#payment_form_sub {}

li.sub-data .input-box {
    display: table;
    width: 100% !important;
}

li.sub-data .input-box .v-fix {
    width: 35%;
}

li.sub-parcelas .input-box .v-fix {
    width: 100%;
    max-width: none !important;
}

div#checkout-payment-method-load dl dd ul#payment_form_subBoleto > li {
    margin-bottom: 10px !important;
}

@media (max-width:767px){
    li.sub-images img, ul#payment_form_sub li.sub-data, ul#payment_form_sub li.sub-cvv {
        width: 100%;
        display:table;
    }
}